#header-container{
    background-color: #FAEED1;
    padding-top: 3%;
    padding-bottom: 3%;
    text-shadow: 50px;
}

#site-title {
    text-shadow: 50px;
}

#title-description {
    padding-top: 1%;
    font-size: 120%;
    font-weight: 500;
}