#calendar-container {
    margin-top: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    zoom: 1.4;
    justify-content: center;
    background-color: #FDF7E4;
    box-shadow: 3px 6px 10px #6f6654;
    border: 2px solid;
    border-radius: 10px;
}