.App {
  text-align: center;
}


#site-title {
  padding-top: 30px;
  font-size: 50px;
  color: #282c34;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#table-calendar-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  background-color:#DED0B6
  /* background-color: #FDF7E4; */
}

.split-container-left{
  width:50%;
  margin-left: 20%;
}

.split-container-right{
  width:50%;
  margin-right: 20%;
}

