.App {
  text-align: center;
}


#site-title {
  padding-top: 30px;
  font-size: 50px;
  color: #282c34;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#sub-title {
  padding-top: 30px;
  font-size: 30px;
  color: #282c34;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#signature-title {
  margin-top: 10%;
  margin-left: 55%;
  font-size: 30px;
  color: #282c34;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#table-calendar-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  background-color:#DED0B6
  /* background-color: #FDF7E4; */
}

.split-container-left{
  width:50%;
  margin-left: 20%;
}

#scroll-container{
  margin-top: 20%;
  max-height: 60%;
  overflow-y: scroll;  
  flex: 33%;
  background-color: #dad2c0;
  border-radius: 10px;
  border: 2px solid;
}


.split-container-right{
  width:50%;
  margin-right: 20%;
}

